.button {
  border: 1px solid #ffcc69;
  background-color: #ffcc69;
  color: #154b91;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  &:disabled {
    border: 1px solid #796e58;
    color: #fff;
    background-color: #796e58;
  }
}
